function Jogo.novo 0
push constant 5
call Memory.alloc 1
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 60
pop this 1
push constant 226
push constant 240
push this 1
push constant 5
call Barra.novo 4
pop this 0
push constant 0
push constant 12
push constant 511
push constant 18
call Screen.drawRectangle 4
pop temp 0
push constant 8
call String.new 1
push constant 83
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 48
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
pop this 4
push constant 0
pop this 3
push pointer 0
return
function Jogo.dispose 0
push argument 0
pop pointer 0
push this 0
call Barra.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Jogo.novoJogo 0
call Jogo.novo 0
pop static 0
push constant 0
return
function Jogo.retornoJogo 0
push static 0
return
function Jogo.start 1
push argument 0
pop pointer 0
label WHILE_EXP0
push this 3
not
not
if-goto WHILE_END0
label WHILE_EXP1
push local 0
push constant 0
eq
push this 3
not
and
not
if-goto WHILE_END1
call Keyboard.keyPressed 0
pop local 0
push this 0
call Barra.movimento 1
pop temp 0
push constant 40
call Sys.wait 1
pop temp 0
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 130
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push constant 1
call Barra.definirDirecao 2
pop temp 0
goto IF_END0
label IF_FALSE0
push local 0
push constant 132
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push constant 2
call Barra.definirDirecao 2
pop temp 0
label IF_FALSE1
label IF_END0
label WHILE_EXP2
push local 0
push constant 0
eq
not
push this 3
not
and
not
if-goto WHILE_END2
call Keyboard.keyPressed 0
pop local 0
push this 0
call Barra.movimento 1
pop temp 0
push constant 40
call Sys.wait 1
pop temp 0
goto WHILE_EXP2
label WHILE_END2
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
